flex/flex.opensdf
flex/flex.sdf
flex/flex.suo
flex/flex.VC.db

flex/ipch/
flex/Debug
flex/flex/Debug

flex/flex/objectivec.tab.c
flex/flex/objectivec.tab.h
flex/flex/objectivec.tab.cpp
flex/flex/objectivec.output
flex/flex/lex.yy.c
flex/flex/graph.txt
flex/flex/graph.png
flex/flex/graphSemantic.txt
flex/flex/graphSemantic.png
flex/flex/table.csv